		<div class="container">
		<div class="page-header">
			<div ng-if="ver2">	
					<center><h1><img ng-src='fotos/uss/{{fto}}' width="100" height="100"/> Bienvenido <strong>{{usr}}</strong>! </h1> </center> 
  			</div>	
				 
			
		</div>
	  	 
		           
					<div class="CajaInicio animated bounceInRight">
							<h1>Parcial Aixa casanova </h1>
						
							<form id="FormIngreso">
							   <a ui-sref="log.login" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">Login</h4>
									    </a>

									    
 <div ng-if="ver2">									
							<!-- 		    <a ui-sref="alta" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">Alta de Personas</h4>
									    </a>
										
										<a ui-sref="grilla" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">Grilla de Personas</h4>
									    </a> -->
										<a ui-sref="votar" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">votar</h4>
									    </a>
									   
</div>	
									 

									  
<div ng-if="ver">
   										
									 
									    <a ui-sref="vervotos" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">Ver votos</h4>
									    </a>
									    <a ui-sref="grillaU" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">Grilla de Usuarios</h4>
									    </a>
									    <a ui-sref="regist" class="list-group-item  list-group-item list-group-item-info">
									      <h4 class="list-group-item-heading">Alta usuarios</h4>
									    </a>

</div>						
									  </div>
									
							</form>
						</div>
		</div>
		
			<div ui-view name="contenido"></div>