
	
<form id="frm" name="frm">

	<div class="container">
		<div class="page-header">
			<center><h1>ABM - PHP - Angular</h1> </center>     
		</div>
	  	 
		           
		<div class="CajaInicio animated bounceInRight">
			<h1>Listado de votos</h1>
						
				<table class='table table-hover table-responsive' id="listaVotos">
					<thead>
						<tr>
							<th>  Dni   </th>				
							<th>  Sexo     </th>
							<th>  Fecha de votacion   </th>
							<th>  partido        </th>
							<th>  foto        </th>
							<th>  BORRAR     </th>
							<th>  MODIFICAR  </th>
						</tr> 
					</thead>
				
					<tr ng-repeat="votos in listaVotos">
								
							<td>{{votos.dni}}</td>
							<td>{{votos.sexo}}</td>
							<td>{{votos.fecha}}</td>
							<td>{{votos.partido}}</td>
							<td><img  class='fotoGrilla' ng-src="fotos/vot/{{votos.foto}}" /></td>
							<td><button class='btn btn-danger' name='Borrar' ng-click="BorrarV(votos)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
							<td><button class='btn btn-warning' name='ModificarV' ng-click="ModificarV({dni:votos.dni, sexo:votos.sexo, fvot:votos.fecha, partido:votos.partido, foto:votos.foto})"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
					 
					</tr>

				</table>
				
				<div ng-if="resultado.length==0">
						No hay personas con ese critero.
				</div>
				
		</div>
								
	</div>
</form>