<div>
      <h3>{{titulo}}</h3>
      <div ui-grid="gridOptions" class="myGrid"
        ui-grid-pagination
        ui-grid-resize-columns
      ></div>	

<!-- --------------------------------- -->
  
       <div ng-if="ver" ui-grid="gridOptions2" class="myGrid"
        ui-grid-pagination
        ui-grid-resize-columns
      ></div>   
<!-- --------------------------------- -->

    <ng-map center="{{lat}},{{long}}">
     	<marker position="{{lat}},{{long}}" icon={{img}}>
     	</marker>
    </ng-map>



 

</div>
 


<!-- icon="{{p.avatar}}"-->
